<%- include("partials/header.ejs") %>

    <h1>About Creamy Cupcakes</h1>
    <p>Creamy Cupcakes excels in providing freshly baked, handcrafted cupcakes delivered right to your London address.
         Start by selecting your desired flavours from our array of options. Once your order is confirmed, 
         our skilled bakers begin the process, using top-tier ingredients to create cupcakes that stand out in both taste 
         and appearance.

        Each cupcake is made in small batches to ensure optimal quality and flavour.
         Our talented decorators then add the finishing touches, ensuring each cupcake is 
         a miniature work of art, perfect for any celebration. From delicate icing patterns to edible image cupcakes,
          we cater to all your design preferences.
        
        To maintain their freshness and beauty, your cupcakes are carefully packaged before leaving our bakery.
         Our reliable delivery team handles the transportation, making sure your order arrives safely and in excellent condition.
          If you prefer, you can also opt to collect your cupcakes from our Wandsworth bakery or our Soho store.
        
        With Crumbs & Doilies, enjoy the convenience and joy of having handmade cupcakes delivered in London.
         Each bite is a testament to our dedication to quality and craftsmanship, making your special moments even sweeter.
        </p>


<%- include("partials/footer.ejs") %>
