<%- include("partials/header.ejs") %>

    <img  class="cupcake" src="/images/cupcakes.png"/>
    <div class="description">
    <p>Crumbs & Doilies offers the finest cupcake delivery in London, perfect for any occasion. 
    Our delectable range of cupcakes is freshly baked and handcrafted, ensuring every bite is a delight.
     We use only the highest quality ingredients, including Lescure French butter, Organic Free Range eggs,
      Doves Farm flour, and Callebaut chocolate, to create our mouth-watering cupcakes. </p>
    
      <p>Whether you're celebrating a birthday, hosting a corporate event, or simply treating yourself,
     our cupcakes are available for convenient collection or hand delivery. With our London delivery service,
      your cupcakes will arrive fresh and beautifully presented right at your doorstep. 
      Order today to add a dash of sweetness to your celebrations!</p>
    </div>

<%- include("partials/footer.ejs") %>